/SMS.class
/Correo.class
/NotificacionDecorador.class
/Notificacion.class
/Message.class
/Whatsapp.class
/SMSDecorador.class
/SMSDecorator.class
/WireDecorator.class
/WhatsappDecorator.class
/TelegramDecorator.class
/SignalDecorator.class
/Notificador.class
/NotificacionDecorator.class
